.grid
    th
        text-align: center
        padding: 5px
    div
        cursor: pointer
        position: relative

        img.selected
            border: 1px solid silver

    .select
        position: absolute
        background: white
        padding: 5px
        z-index: 10
        width: 370px
        font-size: 0

        img
            display: inline-block
            margin: 4px 0px 4px 8px
            border: 1px solid silver 