<!DOCTYPE html>
{% load staticfiles assets %}
<html ng-app="sykora">
    <head>
        <title>Zdenek Sykora</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="{% static "jquery/jquery.js" %}"></script> 
        <script src="{% static "angular/angular.min.js" %}"></script>
        {% assets "scripts" %}<script type="text/javascript" src="{{ASSET_URL}}"></script>{% endassets %}
        {% assets "styles" %}<link href="{{ASSET_URL}}" rel="stylesheet" media="screen">{% endassets %}
        <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
        <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <script src="{% static "angular-bootstrap/ui-bootstrap.min.js" %}"></script>
    </head>
    <body ng-controller="Config">
        <div> 
            <form class="form-inline">
                <label>Rows:</label>
                <input ng-model="config.rowCount" type="number" class="input-small">

                <label>Cols:</label>
                <input ng-model="config.colCount" type="number" class="input-small"> 
                <br/>

                <label>Rule:</label>
                <select ng-model="config.rule" ng-options="c.id as c.name for c in config.rules"></select> 

                <label>Const:</label>
                <input ng-model="config.const" type="text" class="input-small" smart-float> 
                <br/>
                
                <label>Preview:</label>
                <input ng-model="config.preview" type="checkbox"/>

                <button type="button" class="btn" ng-click="save()">save</button>

                <input ng-model="loadId" type="text" class="input-small" placeholder="load id">
                <button type="button" class="btn" ng-click="load()">load</button>
            </form> 
            <div class="alert alert-info" ng-show="savedId">
                <button ng-click="savedId=null" type="button" class="close">&times;</button> 
                ID: <strong>[[savedId]]</strong>.
                Get zipped animation <strong><a target="_blank" href="/get-animation/[[savedId]]/">here</a></strong> (this may take a while)
            </div>
            <table class="grid">
                <tr>
                    <th></th>
                    <th ng-repeat="col in cols">[[col+1]]</th>
                </td> 
                <tr ng-repeat="row in rows">
                    <th>[[row+1]]</th>
                    <td ng-repeat="col in cols" ng-controller="Square" ng-click="showSelect=!showSelect">
                        <div title="[[row+1]]x[[col+1]]">
                            <img class="selected" ng-src="{% static "img/circle/" %}[[img]].png"/>
                            <ul class="select" ng-if="showSelect">
                                <li ng-repeat="density in [1,2,3,4]">
                                    <img ng-repeat="shape in config.shapes|filter:{density:density}" ng-click="shapeFix(shape)" ng-src="{% static "img/circle/" %}[[shape.density]][[shape.rotation]].png"/>
                                </li>
                                <li>
                                    <img ng-click="shapeClear()" ng-src="{% static "img/circle/empty.png" %}"/>
                                    <img ng-click="shapeDiff(1)" ng-src="{% static "img/circle/plus.png" %}"/>
                                    <img ng-click="shapeDiff(-1)" ng-src="{% static "img/circle/minus.png" %}"/>
                                </li>
                            </div> 
                        </div>
                    </td>
                </tr>
            </table>
        </div>

  </body>
</html>
