/* line 2, ../../home/x0nix/projects/zdeneksykora/sykora/assets/styles/main.sass */
.grid th {
  text-align: center;
  padding: 5px;
}
/* line 5, ../../home/x0nix/projects/zdeneksykora/sykora/assets/styles/main.sass */
.grid div {
  cursor: pointer;
  position: relative;
}
/* line 9, ../../home/x0nix/projects/zdeneksykora/sykora/assets/styles/main.sass */
.grid div img.selected {
  border: 1px solid silver;
}
/* line 12, ../../home/x0nix/projects/zdeneksykora/sykora/assets/styles/main.sass */
.grid .select {
  position: absolute;
  background: white;
  padding: 5px;
  z-index: 10;
  width: 370px;
  font-size: 0;
}
/* line 20, ../../home/x0nix/projects/zdeneksykora/sykora/assets/styles/main.sass */
.grid .select img {
  display: inline-block;
  margin: 4px 0px 4px 8px;
  border: 1px solid silver;
}
